<!-- Footer -->
<footer class="page-footer font-small unique-color-dark bg-top">
  <!-- Footer Elements -->
  <div class="container">
    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2 ">
      <li class="list-inline-item">
        <%= image_tag 'logo_hand.png', class: 'logo' %>
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-outline-white btn-rounded">All categories</a>
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-outline-white btn-rounded">Premium Gallery</a>
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-outline-white btn-rounded">Security</a>
      </li>
    </ul>
    <!-- Call to action -->
  </div>
  <!-- Footer Elements -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-4 bg-bottom fct">The Oliver's:
    <a class="font-color" href="https://github.com/deborahbpc"> Dé </a>
    <a class="font-color" href="https://github.com/edcolen"> Ed </a>
    <a class="font-color" href="https://github.com/rozasmarina"> Mari </a>
    <a class="font-color" href="https://github.com/dusso"> Denis </a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
