<!--======== Header ========-->
<header class="header-top">
  <div class="row align-items-center">
    <!---------- Logo ----------->
    <div class="col-3">
      <%= image_tag 'logo_hand.png', class: 'logo' %>
    </div>
    <!---------- Busca ---------->
    <div class="col-5">
      <nav class=" navbar-light bg-light ">
        <form class="form-inline">
          <input class="form-control btn-search-left" type="search" placeholder="Busque por produtos ou categorias" aria-label="Search">
          <button class="btn btn-primary my-2 my-sm-0 btn-search-right" type="submit">Buscar</button>
        </form>
      </nav>
    </div>
    <!---------- Criar anuncio ---------->
    <div class="col-2 ">
      <a class="btn-announce colors" href="#"> <i class="fas fa-bullhorn"></i> Criar anuncio gratuito</a>
    </div>
    <!---------- Idioma ---------->
    <div class="col-1">
      <a class="btn-langue colors" href="#"> <i class="fas fa-flag-usa"></i> Idioma</a>
    </div>
    <!---------- Login ---------->
    <div class="col-1">
      <a class="btn-login colors" href="#"> <i class="far fa-user"></i> Login</a>
    </div>
  </div>
</header>
<!--======== Navbar ========-->
<nav class="navbar navbar-expand-lg navbar-light bg-light menu-nav">
  <div class="btn-group" role="group">
    <button id="btnGroupDrop1 " type="button" class="btn btn-secondary dropdown-toggle btn-category btn-all-category" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      TODAS AS CATEGORIAS
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1 ">
      <a class="dropdown-item box-dropdown" href="#">Categoria</a>
      <a class="dropdown-item" href="#">Categoria</a>
    </div>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <button type="button" class="btn btn-secondary btn-category">Animal Planet</button>
      <button type="button" class="btn btn-secondary btn-category">Vêtements & Accessoires</button>
      <button type="button" class="btn btn-secondary btn-category">Reprise de bail</button>
      <button type="button" class="btn btn-secondary btn-category">Immobilier - Ventes</button>
      <button type="button" class="btn btn-secondary btn-category">Immobilier - locations</button>
      <button type="button" class="btn btn-secondary btn-category">Voitures de tourisme</button>
      <button type="button" class="btn btn-secondary btn-category">Offre d’emploi</button>
      <button type="button" class="btn btn-secondary btn-category">Erotique</button>
    </div>
  </div>
</nav>
