
<div class="col-md-3" style="float:left">
    <div class="card mb-2">
        <%= cl_image_tag announce.photo.key, class: "img-fluid" %>
        <div class="card-body">
        <h4 class="card-title"><%= announce.product_name %></h4>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        <%= link_to "ver detalhes", announce_path(announce), class: "btn btn-success" %>
        </div>
    </div>
</div>



