
  <div class="col-md-3" style="float:left">
    <div class="card mb-2 card-g card-g-img">
      <%= cl_image_tag announce.photo.key, :width=>230, :height=>150, :gravity=>"face", :radius=>"5", :crop=>"fill" %>
      
      <div class="card-body">
        <h4 class="card-title card-g-name"><%= announce.product_name %></h4>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        <%= link_to "see details", announce_path(announce), class: "btn-g" %>
      </div>
    </div>
  </div>

