

<div class="col-md-3" style="float:left">
<div class="card mb-2">
    <img class="card-img-top"
    src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
    <div class="card-body">
    <h4 class="card-title"><%= announce.product_name %></h4>
    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
    <%= link_to "see details", announce_path(announce), class: "btn btn-primary" %>
    </div>
</div>
</div>