<%# navbar %>
<%# banner na home? %>
<%# add photos do cards %>
<%# what's the strcuture of the home page? %>
<div class="container">
  <% @announces.each do |announce| %>
    <div class="container border">
      <p><%= link_to announce.product_name, announce_path(announce) %></p>
    </div>
  <% end %>
</div>


<%#= link_to  "Create a new announce", new_announce_path %>


<%# footer %>
