<%# navbar %>
<div class="container">
  <h1><%= @announce.product_name %></h1>

  <%= link_to  "Edit announce", edit_announce_path(@announce) %>
  <%= link_to announce_path(@announce), method: :delete, data: { confirm: 'Are you sure?' } do %>
    <i class="fas fa-trash"></i>
  <% end %>
</div>

<%# footer %>