.bg-top {
    background-color: white;
    height: 100px;
}

.bg-bottom {
    background-color: #1FD8D9;
    height: 30px;
}

.logo {
    width: 150px;
}

.font-color {
    color: white !important;
}

// font color title
.fct {
    color: #2C2C2D;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100% ;
  }
  