// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "header";
@import "footer";
@import "cards";
@import "show";


body {
  padding-bottom: 100px;
  min-height: 97vh;
  position: relative;
  background-color: #F4FBFF;
}
