// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "button";
@import "navbar";
@import "header";
@import "footer";
@import "cards";
@import "show";
@import "navtabs";
<<<<<<< HEAD

=======
>>>>>>> 60b8f0f6d2cef5310a5243812dd8d903e365584e
body {
    padding-top: 110px;
    padding-bottom: 100px;
    min-height: 97vh;
    position: relative;
}