// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "header";
@import "footer";
@import "cards";
@import "show";
@import "navtabs";


body {
    padding-top: 110px;
    padding-bottom: 100px;
    min-height: 97vh;
    position: relative;

