.f-color {
    color: #2c2c2dd7 !important;
}

.r-border-card {
    border-radius: 20px !important;
}

.r-border-pic {
    border-radius: 15px !important;
}

.show-name {
    padding-bottom: 10px;
    font-size: xx-large;
    font-weight: 600;
}

.show-price {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: xx-large;
    font-weight: 600;
    //background-color: rgba(128, 128, 128, 0.166);
}

.show-txt {
    font-size: large;
    color: gray;
}

.show-title {
    font-size: xx-large;
}

.show-cards {
    border-radius: 70px;
}

.badge-qt {
    width: 170px !important;
    height: 20px !important;
    font-size: small;
    font-weight: normal;
    color: white;
    background-color: #2c2c2dd7;
    border-radius: 100px;
}

.font-table {
    th {
        font-weight: normal !important;
    }
}