body {
    color: #2C2C2D;
}
    
.show-name {
    padding-bottom: 10px;
    font-size: xx-large;
    font-weight: 600;
}

.show-price {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: xx-large;
    font-weight: 600;
    color: #1FD8D9;
}

.show-txt {
    font-size: large;
    color: gray;
}
.show-title {
    font-size: xx-large;
}

.show-cards {
    border-radius: 70px;
}
